<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django CRUD Operations</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
    <form method="POST" class="post-form" action="">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Enter Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Id:</label>
                <div class="col-sm-4">
                    {{ form.id }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Roll:</label>
                <div class="col-sm-4">
                    {{ form.roll }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Class:</label>
                <div class="col-sm-4">
                    {{ form.sclass }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee first name:</label>
                <div class="col-sm-4">
                    {{ form.fname }}
                </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee last name:</label>
                <div class="col-sm-4">
                    {{ form.lname }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
    </body>
    </html>